@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-panel {
    background-color: rgb(255 255 255 / 0.05);
    backdrop-filter: blur(16px);
    border: 1px solid rgb(255 255 255 / 0.1);
  }

  .text-gradient {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #60a5fa, #9333ea);
  }
}